/* A reasonable sans-serif font for the text. Be sure to include a generic family */
* {
	font-family: Georgia, serif;
}




/* Headers should use a reasonable serif font and generic family */
header {
	font-family: Arial, sans-serif;
}




/*
	Style for Unit 2, Part IV

/* Styles here for the body */
body {
	background-color: #F4FFE4;	/* A background color (#f4ffe4) for the entire body */
	color: #333333; /* A complementary color for the text (#333333) */
}

    


/* Styling for the wrapper and content includes

    The wrapper is centered and takes 80% of the space
    The wrapper background color is white
    The wrapper should not be visible above the corners of header USE MY WORDING
    There is some space between the content area text and the wrapper border
	Set a minimum height (550 px) and width (600 px) so that scroll bars 
	appear if the window size is too small.
*/
#wrapper {
	width: 80%;	/* The wrapper is centered and takes 80% of the space */
	margin: 0 auto;
	background-color: white;	/* The wrapper background color is white */
	border-radius: 15px;	/* The wrapper should not be visible above the corners of header (hint: try rounding-with a border radius) */
	min-height: 550px;	/* Set a minimum height (550 px) and width (600 px) so that scroll bars appear if the window size is too small. */
	min-width: 600px;

}

#content {
	padding: 10px;	/*There is some space between the the content area text and the wrapper border */
}




/* Styling for the header includes

    A background color (#d5edb3) 
    The company name is centered
    The company name has a shadow below and to the right.
    A rounded border (I used a color of #333333 and rounded 15px)
	A logo on the right side (hint: use background-image... google!)
*/
h1 {
	background-color: #D5EDB3;	/*	A background color (#d5edb3) */
	text-align: center;	/* The company name is centered */
	line-height: 80px;
	text-shadow: 3px 3px 5px #666666;	/* The company name has a shadow below and to the right. */
	border-style: solid;	/* A rounded border (I used a color of #333333 and rounded 15px)*/
	border-radius: 15px;
	border-color: #333333;
	height: 80px;	/* A height (so that it displays correctly, I used 80px) */
	
	/* Turtle logo is displayed on the right side
            You'll need to research how to add a background image in CSS. This is an authentic task! As always, questions on piazza are 			1encouraged. */
	background-image:url(turtle2.gif);
	background-position: right center;
	background-repeat: no-repeat;
}




/* Styling for the nav menu includes

    A background color (#ccff99)
    Matching text and border (#333333)
    Border is 1px
    Links do not have underlines
    Menu options are displayed in bold
    The entire menu is indented to be visually appealing (~20px)
    There is some white space between menu items
*/
nav a {
	background-color: #ccff99;	/* A background color (#98bf21) */
	border-style: solid;
	border-color: #333333;	/* Matching text and border (#333333) */
	border-width: 1px;	/* Border is 1px (common opinion: px is OK for border width) */
	color: #333333;	/* Matching text and border (#333333) */
	text-decoration: none;	/* Links do not have underlines */
	font-weight: bold;	 /*  options are displayed in bold */
	padding-right: 2rem;	/* The entire menu is indented to be visually appealing (~2rem) */
	padding-left: 2rem;		/* There is some white space between the menu items*/
	border-style: solid;
}




/* Headers should use a reasonable serif font and generic family */


/* The company name should always be bold, no matter where it appears */
.company_name {
	font-weight: bold;
}




/* Styling for the company motto includes:

    italicized and centered
    a ridge border with an extra thick left border and color (#99aa33) 
*/
.motto {
	font-style: italic;	/* italicized and centered */
	text-align: center;
	border-style: ridge;	/* a ridge border with an extra thick left border and color (#99aa33) */
	border-color: #99aa33;
	border-width: 6px 10px;
}

	   


/* The introduction paragraph should be indented.  Other paragraphs should not. */
#intro {
	text-indent: 3em;
}




/* The list of services should have a line spacing of 1.5 */
#services {
	list-style-type: square;	/* The list of services should have a line spacing of 1.5 and should have square bullets */
	line-height: 1.5;
}




/* Note: the example used square bullets throughout the web page, and I think this looks more visually appealing */
* {
	list-style-type: square;
}








