/* Style the header, including text shadow */
header h1 {
	background-color: #2b688f;
	text-align: center;
	vertical-align: center;
	font-family: "Lucida Console", "Courier New", monospace;
	color: black;
	margin: 0px 10px;
	text-shadow: 2px 1px #d8e0cb;
	font-weight: bold;
	padding: 12px 4px;
}




/* Style the footer */
footer {
	font-family: "Gill Sans Extrabold", sans-serif;
	background-color: #d8e0cb;
	margin: 0px 10px;
	padding: 2px;
	margin-bottom: 5px;
}




/* Style the aside, including the paragraph */
aside {
	background-color: #5ccab1;
	width: 200px;
	float: right;
	position: fixed;
	right: 10px;
	top: 10px;
	padding: 4px;
}

aside p {
	font-family: cursive;
}




/* Style the articles */
article {
	font-family: "Gill Sans Extrabold", sans-serif;
	background-color: #d8e0cb;
	width: 67%;
	margin-right: auto;
	margin-left: auto;
	padding: 2px;
	margin-bottom: 5px;
}




/* Style the figure, including opacity */
figure img{
	float: middle;
	width: 125%;
	padding: 5px;
	text-align: center;
}

figure {
	text-align: center;
	font-size: 80%;
	background-color: #5ccab1;
	border: thick #2b688f solid;
	opacity: 15%;
}

figure:hover {
	opacity: 100%;
}




/* Style the anchor and links */
article a:link {
	color: #7faa72;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: #7faa72;
	/* text-decoration: none */	/* removes underline */
}

article a:visited {
	color: #5ccab1;
	text-decoration-color: black;
}

article a:hover {
	background-color: #2b688f;
	color: white;
	text-decoration: none;
}

article a:active {
	background-color: black;
	color: white;
	text-decoration: none;
	border-style: dashed;
	border-color: blue;
}




/* Style the pseudo-element */
article p::first-letter {
	color: #2b688f;
	font-weight: bold;
	font-size: 150%;
}




/* Style the inline-block */
article .CSS {
	background-color: #7faa72;
	font-size: 125%;
	padding: 1px;
}




/* Add other styles as you see fit */
article h2 {
	color: black;
	font-size: 200%;
	text-shadow: 2px 1px #2b688f;
}
