/*  
    Web Programming
    CSS Part 1 - Basics
    
    name: Lauren Sherburne
    date modified: 08.31.2022
*/



/* Header level 1 - centered with blue text */
h1 {
    color: dodgerblue;
    text-align: center;
}



/* Header level 2 (only the "excited" header) - Transformed to all upper case, with a 2px blue shadow */
.excited {
    text-transform: uppercase;
    text-shadow: 2px 2px blue;
}



/* Paragraph with the id knownSelectors - Italic style, purple, font size is 2em */
#knowSelectors {
    font-style: italic;
    color: purple;
    font-size: 2em;
}



/* Elements with the class warning (there are two) - Red with either a cursive or fantasy font (your choice) */
.warning {
    color: red;
    font-family: fantasy;
}



/* Paragraph with the id remember - Yellow background with a sans-serif font */
#remember {
    background-color: yellow;
    font-family: sans-serif;
}



/* Paragraph with the class standout - Border in blue, top and bottom are dashed, right and left are solid
					Border has radius of 5px, 5px width on the bottom, 2px everywhere else
					Font is bold */
.standout {
    border-color: darkblue;
    
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-right-style: solid;
    border-left-style: solid;
    
    border-radius: 5px;
    border-width: 2px 2px 5px 2px;
    font-weight: bold;
}



/* Unordered list - has a background color of #ff9999 (or your choice) */
ul {
    background-color: #ff7f50;
}

/* Unordered list items - square list style type; background color of #ff5e5 (or your choice, as long as not the same as above) */
ul li {
    list-style-type: square;
    background-color: #8b0000;
}

