/* Entire page (hint: use the universal selector *):
	   set all margins and padding to 0
	   this overrides default margins/padding for elements so that you have control and can better see the effect of your statements */
* {
	margin: 0;
	padding: 0;
}



/* Elements with the class container:
	   set the background to pink
	   padding 1rem (play with this and other numbers!) 
	   
NOTE: IN some cases there are several CSS selector options that will work. For example, I only use class container for divs. So you could specify this as .container OR as div.container - either is fine (i.e., as with most coding, there's not one exact answer) */
.container {
	background-color: pink;
	padding: 1rem;
}



/* Elements with the class outer:
	   set the height to 20vh
	   background to #D1ECFF
	   include a 3px dashed border with color black */
.outer {
	   height: 20vh;
	   background-color: #D1ECFF;
	   border-style: dashed;
	   border-color: black;
}



/* Elements with the class inner:
	   set the width to 30% and background to #FFFFFF
	   include a 3px double border with color blue */
.inner {
	width: 30%;
	background-color: #FFFFFF;
	border-width: 3px;
	border-style: double;
	border-color: blue;
}



/* Paragraphs within class inner:
	   set the text color to green
	   set background to orange */
.inner p {
	color: green;
	background-color: orange;
}



/* Item with id outer1:
	   set width to 50%
	   set padding to 1em
	   set padding-top to 2em (example of cascading...browser will set all padding to 1em, then override top) */
#outer1 {
	width: 50%;
	padding: 1em;
	padding-top: 2em;
}



/* Item with id inner1:
	   set height to 50%
	   set margin to auto - what effect does this have? */
#inner1 {
	height: 50%;
	margin: auto; /* this centered the inner box inside the outer box */
}



/* Item with id para1: 
	   set font size to 1.1rem
	   set top margin to 0.5em
	   set right margin to 1em
	   set left margin to 2em (what happens if you change the font size?) */
#para1 {
	font-size: 1.1rem;
	margin-top: 0.5em;
	margin-right: 1em;
	margin-left: 2em;
	
	/* changing the font size changes the size of the top, right, and left margins since em is based on the font size */
}



/* Item with id outer2:
	   set width to 50vw (compare to 50% - viewport includes the scrollbar, % does not)
	   set padding to 25px
	   set top padding to 10px
	   set bottom margin to 20px */
#outer2 {
	width: 50vw;
	padding: 25px;
	padding-top: 10px;
	margin-bottom: 20px;
}



/* Item with id inner2:
	   set bottom padding to 1em
	   use float right */
#inner2 {
	padding-bottom: 1em;
	float: right;
}



/* Item with id para2:
	   set margins top(15), right(5), bottom(10), and left(30)
	   (You might try the shorthand syntax: all on one line) */
#para2 {
	margin: 15px 5px 10px 30px;
}



/* Item with id outer3:
	   set width to 50%
	   set height to 25vh
	   set top margin to 30px */
#outer3 {
	width: 50%;
	height: 25vh;
	margin-top: 30px;
}



/* Item with id inner3:
	   set height to 50%
	   set padding to 0.5em
	   float left
	   include an outline, solid 10px, color #4CAF50 */
#inner3 {
	height: 50%;
	padding: 0.5em;
	float: left;
	outline-style: solid;
	outline-width: 10px;
	outline-color: #4CAF50;
}



/* Item with id para3:
	   include padding of 1em */
#para3 {
	padding: 1em;
}



